*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: #f7fff7;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 3%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 250px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #091f32;
    font-size: 18px;
}

.content{
    text-align: center;
    position: relative;
    opacity: 0; /* Commence avec une opacité de 0 */
    animation: fade-in 5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards; /* Utilise l'animation fade-in */
    animation-delay: 0s;
}
  
  @keyframes fade-in {
    from {
      opacity: 0; /* Commence avec une opacité de 0 */
    }
    to {
      opacity: 1; /* Termine avec une opacité de 1 */
    }
  }
 

.content h1{
    font-size: 100px;
    color: #f7fff7;
    font-weight: 600;
}

.content h2{
    font-size: 40px;
    color: #f7fff7;
    font-weight: 500;
    padding-bottom: 20px;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #f7fff7;
    font-size: 24px;
    border: 2px solid #f7fff7;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 0px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    /*z-index: -1;*/
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.container{
    background-color: #f7fff7;
}

.dma{
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dmacont {
    display: flex;
    justify-content: space-around;
    padding: 24px 15%;
  }
  
  .paragr {
    flex: 1;
    max-width: 30%;
    text-align: justify;
  }
  
  .imgvaisselle {
    height: auto;
    width: 30%;
    margin-left: 20px;
    flex-shrink: 0;
  }

  .sticky-bar {
    background-color: #f7fff7;
    position: sticky;
    top: 0;
    transition: top 0.3s ease-in-out;
}

.sticky-visible {
    top: 0; /* Afficher la barre de navigation en position sticky */
}
