@import url(https://fonts.googleapis.com/css2?family=Material+Icons);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: #f7fff7;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 3%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 250px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #091f32;
    font-size: 18px;
}

.content{
    text-align: center;
    position: relative;
    opacity: 0; /* Commence avec une opacité de 0 */
    animation: fade-in 5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards; /* Utilise l'animation fade-in */
    animation-delay: 10s;
}
  
  @keyframes fade-in {
    from {
      opacity: 0; /* Commence avec une opacité de 0 */
    }
    to {
      opacity: 1; /* Termine avec une opacité de 1 */
    }
  }
 

.content h1{
    font-size: 100px;
    color: #f7fff7;
    font-weight: 600;
}

.content h2{
    font-size: 40px;
    color: #f7fff7;
    font-weight: 500;
    padding-bottom: 20px;
}

.button{
    text-decoration: none;
    display: inline-block;
    color: #f7fff7;
    font-size: 24px;
    border: 2px solid #f7fff7;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 0px;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: #f7fff7;
    color: #091f32;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

  .sticky-bar {
    background-color: #f7fff7;
    position: sticky;
    top: 0;
    transition: top 0.3s ease-in-out;
}

.sticky-visible {
    top: 0; /* Afficher la barre de navigation en position sticky */
}

/*-------DÉBUT DU CAROUSSEL---------*/

.container{
    width: 100%;
    background-color: #f7fff7;
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}

.carousel {
 
    height: auto;
    width: 80%;
    position:relative;
    overflow: hidden;
}

.slider{
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 0.3s;
}

.slider section{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.controls .arrow i{
 font-size: 75px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.controls ul li {
    width: 20px;
    height: 20px;
    border: 2px solid #091f32;
    border-radius: 50px;
    margin: 10px;
    background: #091f32;
    cursor: pointer;
}

.controls ul li.selected {
    background: transparent;
} 

.quisommes-nous{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.contenu{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: justify;
    align-self: center;
}

.contenu h1{
    padding-bottom: 5px;
}

.imgvaisselle{
    width: 30%;
    height: auto;
    padding-bottom: 60px;
}

.artistes{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 60px;
}

.RPH,
.JH{
    width: 20%;
    text-align: justify;
}

.RPH h1, .JH h1 {
    font-size: 18px;
}


.imgart{
    border-radius: 100%;
    width: 100%;
}